<h1>All Articles</h1>

<% @articles.each do |article| %>
    <div class="well">
		<h3><%= link_to article.title, article %></h3>

		<p><%= link_to 'Edit', edit_article_path(article), { :class => "btn btn-warning" } %> 
		  <%= link_to 'Delete', article, class: 'btn btn-danger', method: :delete, confirm: 'Are you sure?' %></p>
	</div>
<% end %>


<hr />
<%= link_to 'New Article', new_article_path, { :class => "btn btn-success" } %>
